---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, category, date, updatedDate, image } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title}/>
	</head>
	<body>
		<Header />
		<main>
			<article>
				<div class="title">
					<h1 class="mb-4">{title}</h1>
				</div>
				<div class="data flex justify-between">
					<div class="flex">
						<p class="date pr-4 m-0">
							<FormattedDate date={date} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</p>
						<p class="uppercase m-0">
							{category}
						</p>
					</div>

				</div>
				<div class="hero-image mt-6 mb-9">
					{image && <img width={1020} height={510} src={image}/>}
				</div>
				<div class="prose">
					<slot />
				</div>
				<hr class="my-6">
				<div class="pb-4">
					<a href="/" class="font-semibold">&#60;- Back to Homepage</a>
				</div>
			</article>
		</main>
	</body>
</html>
<style>
	.hero-image img {
		border: 1px solid #333;
	}
	main {
		max-width: 600px !important;
	}

	@media screen and (max-width: 400px) {
		.prose {
			font-size: 17px;
		}
	}
</style>
